<h1>My First Application</h1>
<h2>{{title}}</h2>

<div>
    <app-attrb-dir></app-attrb-dir>
</div>
<div>
    <app-ang-dir-deep-dive></app-ang-dir-deep-dive>
</div>
<div>
    <app-header></app-header>
</div>
<div>
    <app-navbar></app-navbar>
</div>
<div>
    <button disabled="{{isDisabled}}">Disable using String interpolation</button>
    <button [disabled]="isDisabled">Disable using property</button>
    <button [class.active]="isActive" [class.no-active]="!isActive">Click Me</button>
</div>
<div>
    <img [src]="imgURL">
</div>



